<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Page d'édition de personnage</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

   <style>
      * {
         font-family: 'Kaushan Script';
      }

      .btn {
         position: fixed;
         right: 2%;
         top: 2%;
      }
   </style>
</head>

<body>
   <div class="container">
      <h1>Edition d'un personnage</h1>
      <form action="/modif" name="formulaire" method="POST">
         <div class="row">
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterName">Nom</label>
                  <h3>
                     <%= data.name %>
                  </h3>
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterPv">Pv:</label>
                  <input onkeyup="sendForm()" type="number" required class="form-control" value="<%= data.pv %>" name="characterPv"
                     id="characterPv" placeholder="25">
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterCa">Classe d'Armure:</label>
                  <input onkeyup="sendForm()" type="number" required class="form-control" value="<%= data.ca %>" name="characterCa"
                     id="characterCa" placeholder="12">
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterRace">Race</label>
                  <h3>
                     <%= data.race %>
                  </h3>
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterSubRace">Sous-Race</label>
                  <h3>
                     <%= data.subRace %>
                  </h3>
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterClasse">Classe</label>
                  <h3>
                     <%= data.classe %>
                  </h3>
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterSubClasse">Sous-Classe</label>
                  <h3>
                     <%= data.subClasse %>
                  </h3>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterDex">Déxterité</label>
                  <input onblur="sendForm()" type="number" min="1" max="30" required value="<%= data.caracteristiques.dexterite %>"
                     class="form-control caracInput" name="characterDex" id="characterDex"
                     placeholder="15">
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterFor">Force</label>
                  <input onblur="sendForm()" type="number" min="1" max="30" required value="<%= data.caracteristiques.force %>"
                     class="form-control caracInput" name="characterFor" id="characterFor"
                     placeholder="15">
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterCon">Constitution</label>
                  <input onblur="sendForm()" type="number" min="1" max="30" required value="<%= data.caracteristiques.constitution %>"
                     class="form-control caracInput" name="characterCon" id="characterCon"
                     placeholder="15">
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterInt">Intelligence</label>
                  <input onblur="sendForm()" type="number" min="1" max="30" required value="<%= data.caracteristiques.intelligence %>"
                     class="form-control caracInput" name="characterInt" id="characterInt"
                     placeholder="15">
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterSag">Sagesse</label>
                  <input onblur="sendForm()" type="number" min="1" max="30" required value="<%= data.caracteristiques.sagesse %>"
                     class="form-control caracInput" name="characterSag" id="characterSag"
                     placeholder="15">
               </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                  <label for="characterCha">Charisme</label>
                  <input onblur="sendForm()" type="number" min="1" max="30" required value="<%= data.caracteristiques.charisme %>"
                     class="form-control caracInput" name="characterCha" id="characterCha"
                     placeholder="15">
               </div>
            </div>
         </div>
         <label>Compétences</label>
         <ul>
            <% for(var i = 0; i < data.competences.length; i++) { %>
            <li>
               <%= data.competences[i] %>
            </li>
            <% }%>
         </ul>
         <div class="form-group">
            <label for="characterArmes">Armes</label>
            <input onkeyup="sendForm()" type="text" value="<%= data.armes %>" class="form-control" name="characterArmes"
               id="characterArmes" placeholder="Epée (1D8+2), Bouclier en bois (1D6+1), Couteau (1D4+1)">
            <small id="helpId" class="form-text text-muted">Veillez a séparer chaques élements d'une virgule (,)</small>
         </div>
         <div class="form-group">
            <label for="characterArmures">Armures</label>
            <input onkeyup="sendForm()" type="text" value="<%= data.armures %>" class="form-control" name="characterArmures"
               id="characterArmures" placeholder="Plastron en cuir, Casque de Viking">
            <small id="helpId" class="form-text text-muted">Veillez a séparer chaques élements d'une virgule (,)</small>
         </div>
         <div class="form-group">
            <label for="characterDescri">Decription du personnage</label>
            <textarea class="form-control" value="<%= data.description %>" name="characterDescri" id="characterDescri"
               rows="5" placeholder="Un petit background historique du personnage (vie, Race, pourquoi est-il devenu aventurier, ...)"><%= data.description %>
            </textarea>
         </div>
         <div class="form-group">
            <label for="characterDescriCara">Caractéristiques du personnage (Technique)</label>
            <textarea class="form-control" value="<%= data.descriptionCara %>" name="characterDescriCara" id="characterDescriCara"
               rows="5" placeholder="Background technique du perso: Les infos en plus sur chaques persos, ..."><%= data.descriptionCara %>
            </textarea>
         </div>
         <a class="btn btn-primary" style="margin: 5px 0;" href="/">Retour</a>
      </form>
   </div>
</body>
<script>
   // Modifie la chemin d'envoi du formulaire
   document.formulaire.action = "/edit/" + getIdURL();

   function sendForm() {
      document.formulaire.submit();
   }

   function getIdURL() {
      return window.location.pathname.split('/')[2];
   }
</script>

</html>